<style type="text/css">
<!--

.answer {  background-color: #CCFFFF; margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 15px}
p.question {  font-size: medium; color: #660099}
h3.faqtopic {  font-size: larger; color: #330099; background-color: #CCCCFF; border-style: groove; text-align: center}
li.question {  color: #663300}

B {font-weight:bold;}

P,body 	{
	font-family: Verdana, Arial, Geneva;
	font-size: 8pt;
	font-weight: normal;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	color: #300030;}

TD,TR,LI 	{
	font-family: Verdana, Arial, Geneva;
	font-size: 8pt;
	font-weight: normal;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #300030;}

TH	{
	font-family: Verdana, Arial, Geneva;
	font-size: 8pt;
	font-weight: bold;
	color: #300030;}

p.Feature {
	font-family: Verdana, Arial, Geneva;
	font-size: 8pt;
	font-weight: normal;
	color: #404000;}



H1 {
	font-family: Verdana, Arial, Geneva;
	font-size : 16pt;
	font-weight : bold;
	letter-spacing: -1;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding: 5,0,5,5;
	color: #800080;
}

H2 {
	font-family: Verdana, Arial, Geneva;
	font-size: 13pt;
	font-weight: bold;
	text-align: left;
	margin-left: 0pt;
	margin-right: 0pt;
	color: #0000ff}

H3 {
	font-family: Verdana, Arial, Geneva;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	margin-left: 0pt;
	margin-right: 0pt;
	color: #0000ff}

xul {
	font-family: Verdana, Arial, Geneva;
	font-size: 8pt;
	font-weight: normal;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #000000;}

xol {
	font-family: Verdana, Arial, Geneva;
	font-size: 9pt;
	font-weight: normal;
	color: #202040;}

span.Feature {
	font-family: Verdana, Arial, Geneva;
	font-size: 10pt;
	font-weight: normal;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #111111;}

span.URLLink{
	font-family: Verdana, Arial, Geneva;
	font-size: 9pt;
	font-weight: normal;
	color: #006600
	}

span.Info {
	font-family: Verdana, Arial, Geneva;
	font-size: 12pt;
	font-weight: normal;
	color: #404000;}



DIV.download {
	font-family: Verdana, Arial, Geneva;
	font-size: 8pt;
	font-weight: normal;
	margin-left: 20%;
	color: #000080;}


code {
	font-family: "MS Courier New", Courier, "MS Sans Serif";
	font-size: 10pt}



a	{
	text-decoration: underline;
	color: #0000FF}

a:hover {
	text-decoration: underline}

a:active {
	text-decoration: underline;
	color: #0000ff}
p.subquestion { color: #660099 }





				 
-->
</style>
