@import 
url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css);

// Variables used to set the font appearance.
@CLFontFamily: "Lucida Grande", "Verdana", "Helvetica Neue", "Lucida Sans Unicode", "Lucida Sans Regular", Arial, sans-serif; 
@CLFontWeight: 300;

//color variables
@DarkBlue: #003366;
@Gold: #d4c229;
@White: #ffffff;
@WhiteFakeOpacity:#8099b3;
@Grey: #efefef;

@CLThemeColor: @DarkBlue;

// images
@ArrowLeftBlue:
"https://image.ibb.co/ksA7nS/arrow_left_white.png";
@ArrowRightWhite: "https://image.ibb.co/bVnbgn/arrow_right_blue.png";

//content variable
@NavMargin: 30px 0px 0px 15px;
@LightBorders: 1px solid rgba(153,153,153,0.4);
@Clear: none;
@Radius: 0px;

//brand
@CLLogo: url(https://image.ibb.co/iKxAeH/cali_lessons_logo_170px.png);
@CLLogoWidth: 170px;

//icon buttons
@CLMenuWhite: url(https://image.ibb.co/jPdfwx/hamburger_white_32px.png);
@CLMenuBlue: url(https://image.ibb.co/gVyoEH/hamburger_menu_32px.png);
@CLExit: url(https://image.ibb.co/m944oc/exit_32px.png);
@CLArrowLeftBlue: url(https://image.ibb.co/mVgSOc/arrow_previous.png);
@CLArrowRightWhite: url(https://image.ibb.co/n7VyUH/arrow_next.png);

.border-radius(@Radius) {
  -webkit-border-radius: @Radius;
  -moz-border-radius: @Radius;
  -o-border-radius: @Radius;
  -ms-border-radius: @Radius;
  border-radius: @Radius;
}

.appearance-hidden (@Clear) {
  -webkit-appearance: @Clear;
  -moz-appearance: @Clear;
  -o-appearance: @Clear;
  -ms-appearance: @Clear;
  appearance: @Clear;
}

.border-none {
  outline: none !important;
  box-shadow: none !important;
}

.CLIconButtonWidth {
  width: 32px;
  height: 32px;
}

.CLButtonRules {
  .border-radius(0px);
  font-size: 18px;
  text-align: left;
  width: 140px;
  height: 40px;
  margin: 10px 5px 0px 0px;
}

.CLButtonPreviousRules {
  color: @CLThemeColor !important;
  background: lighten(@WhiteFakeOpacity, 35%) !important;
}

.CLPreviousActions {
  .CLButtonRules;
  .CLButtonPreviousRules;
}

.CLNextActions {
  .CLButtonRules;
  background: lighten(@CLThemeColor, 5%) !important;
  border: 2px solid lighten(@CLThemeColor, 5%) !important;
}

.CLButtonArrowRules {
  height: 30px;
  width: 30px;
  margin-top:-3px;
}

//------------------------------
// Body
//------------------------------

body {
  font: @CLFontFamily;
  font-weight: @CLFontWeight;
}

h1 {
  color: @CLThemeColor;
  padding-bottom: 25px;
}

h2 {
  color: @CLThemeColor;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

img {
  border:0 !important;
}

//------------------------------
// Navigation
//------------------------------

.CL-navbar-main {
  background: @CLThemeColor;
  border-bottom: 5px solid @Gold;
  .border-radius (@Radius);
}

.CL-navbar {
    height: 84px;
    background: @CLThemeColor;
    border-color: @CLThemeColor;
}

.navbar-text {
  margin: @NavMargin;
}

.CL-menu-button {
  margin-top: 16px;
  border: none;
  &:hover,
  &:focus {
    background: none !important;
    opacity: 0.9 !important;
  }
  &:checked,
  &:active {
    opacity: 0.75 !important;
  }
}

.CL-hamburger-white {
  display: block;
  .CLIconButtonWidth;
  background: @CLMenuWhite center center no-repeat;
}

.exit-btn {
  margin-top: 10px;
  .CLIconButtonWidth;
  float:left;
  background: @CLExit top  left no-repeat;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.75;
  }
}

.CL-logo {
  content: @CLLogo;
  width: @CLLogoWidth;
  height: 49px;
}

.user-name-link {
  color: @White;
     &:hover {
      color: @WhiteFakeOpacity;
      text-decoration: none;
     }  
}

.exit-link {
  display: none;
}

//------------------------------
// Lessons View
//------------------------------

input.CL-hamburger[type="checkbox"] {
  content: @CLMenuBlue;
  display: block;
  float: right;
  width: 32px;
  height: 32px;
  cursor: pointer;
  .appearance-hidden (@Clear);
  outline: none;
  &:checked {
    content: url(https://image.ibb.co/mVgSOc/arrow_previous.png);
    .appearance-hidden (@Clear);
    outline: none;
  }
}

.top-bottom-outline {
  border-top: @LightBorders;
  border-right:  none;
  border-bottom: @LightBorders;
  border-left:   none;
}

.right-outline {
  border-top: none;
  border-right:  @LightBorders;
  border-bottom: none;
  border-left:   none;  
}

//------------------------------
// Bottom Controls
//------------------------------

.CL-next-btn {
  .CLButtonRules;
  background: @CLThemeColor;
  border: 2px solid @CLThemeColor;
  &:hover,
  &:focus {
    .CLNextActions;
    .border-none;
    box-shadow: none !important;
  }
  &:active {
    .CLNextActions;
    .border-none;
    box-shadow: none !important;
    opacity: 0.95;
  }
}

.CL-previous-btn {
  .CLButtonRules;
  color: @CLThemeColor;
  background: @White;
  font-weight: 600;
  border: 2px solid @CLThemeColor;
    &:hover, 
    &:focus {
      .CLPreviousActions;
      .border-none;
    }
    &:active {
      .CLPreviousActions;
      opacity: 0.85;
    }
}

.next-arrow {
  background: @CLArrowRightWhite;
  float: right;
  .CLButtonArrowRules;
  margin-right: -5px;
}

.previous-arrow {
  background: @CLArrowLeftBlue;
  float: left;
  .CLButtonArrowRules;
  margin-right: 5px;
  margin-left: -10px;
}

//------------------------------
// Responsive Styles
//------------------------------

@media (max-width:768px) {
  .CL-navbar-main {
    background: @Grey;
  }
  .user-name-link {
    color: @CLThemeColor;
    font-size: 18px;
    margin: 0px 0px 0px 20px;
  }
  .navbar-text {
    margin: 20px 0px 20px 0px;
  }
  .exit-icon {
    display: none !important;
  }
  .exit-btn {
    display: none !important;
  }
  .exit-link {
    display: block;
    color: @CLThemeColor;
    font-size: 18px;
    margin: 0px 0px 0px 20px;
     &:hover {
      color: @WhiteFakeOpacity;
      text-decoration: none;
     }  
  }
}