/* CALI Viewer 6 Temp override */

/* blockquote from CA lessons does NOT expect a left gray bar */
blockquote{ 
	border: 0px solid #999;
	page-break-inside:avoid;
}

/* hint caption overrides grade icon for checkbox/radio button */
.hint p { 
	margin-left: 0;
}

p {
	font-size: 1em;
}

/* Erase Slide show offsets */
#slideshow {	
	margin: auto;
	border: 3px solid #886;
	padding: 0px;
}
#slideshow li{
	width:400px;
	height:300px;
}
/*#slideshow ul, li{
	padding:0;
	margin:0;
	border:0;
}*/
#slideshow img{
	width: 100%;
	height: 100%;
}
#slideshow ul li{
	padding:0;
	margin:0;
	border:0;
}
.UploadScore1 {
	width: 20em;
}
.img-close {
	z-index: 1;
	background-color: rgb(20,20,20);
}
.toc-hilite{
	background: linear-gradient(90deg,#ddf,#fff);
}
.toc-hilite::before {
	background-image: url('img/toc-next.png');
	background-size: 1.5em 1.5em;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	content:"";
}
.toc-visited {
	background: linear-gradient(90deg,#eee,#fff);
}
.toc-visited::before {
	background-image: url('img/toc-visited.png');
	background-size: 1.5em 1.5em;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	content:"";
	margin-right: 0.5em;
}
#llLinkLogo, #llCourseName {
	cursor: pointer;
}
#llCourseName {
	text-align: center;
	margin-top: 5px;
	color: #fff;
	max-width: 66%;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: rgb(0, 51, 102);
}
@media (max-width:768px)
{
	#llCourseName {
		max-width: 90%;
		min-width: 20em;
		margin-left: 1em;
	}
}
 /*
.toc-visited::before {
	content:url('img/toc-visited.png');
	display: inline-flex;
	width: 1.5em;
	height: auto;
}
*/
p, blockquote, .alert-description-body {
	font-size: 16px !important;
}
hr {
	background: #000;
	width: 50%;
	height: 2px;
}

/* 11/16/21 TOC smaller font */
p.toc-title,.CLAccordion li a  {
	font-size: 12px !important;
}
.CLAccordion li { /*,.CLAccordion ul ul{*/
	margin-left: 1em;
}
.PageText * li {
	font-size: 16px !important;
}

