/**
*@stylesheet exitbutton.less Exit Button
*@parent components.buttons
*
*@description
*## CALI Lesson Buttons
*
*The "Next" button is used to navigate through lessons.
*
*HTML
*```
*<a href="#" title="Exit and Cali Lessons and resume later.">
*   <span class="exit-btn" alt="exit"></span>
*</a>
*```
*
*@demo demos/buttons/exitbutton/exitbutton.html
**/

@import "variables.less";

@CLExit: url(https://image.ibb.co/m944oc/exit_32px.png);

.bckgrd {
  display: block;
  background: #072c58;
  width: 36px;
  height: 50px;
}

.exit-btn {
  margin-top: 10px;
  .CLIconButtonWidth;
  float:left;
  background: @CLExit top  left no-repeat;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.75;
  }
}

.exit-link {
  display: none;
}


