/**
*@stylesheet headers.less Headers
*@parent components
*
*@description
*## CALI Lessons Headers
*
*Header styles in CALI Lessons
*
*HTML
*```
*	<h1>Header h1</h1>
*	<h2>Header h2</h2>
*```
*
*@demo docs/demos/headers/headers.html
**/

@import "variables.less";
@import "body.less";

.CLHeaderColor {
  color: @CLThemeColor;
}

h1 {
  .CLHeaderColor;
  padding-bottom: 25px;
}

h2 {
  .CLHeaderColor;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}