/**
*@stylesheet navtree.less Nav Tree
*@parent menus
*
*@description
*## CALI Lessons Nav Tree for Slider menu
*
*The Nav Tree goes inside the Slide menu for the Table of Contents.
*
*Old Design

![Old nav tree](https://image.ibb.co/jb6M6J/oldtableofcontents.jpg "Old Navtree Example")
*
*```
<div class="PageText" style="display: block;"><div class="ReadText"><ul><li><a href="jump://Introduction">Introduction</a></li><li>Text and Hypertext</li><ul><li><a href="jump://Pop-up 1">Pop-up Pages</a></li><li><a href="jump://Page Links 1">Page Links</a></li></ul><li>Question Types</li><ul><li>Classic Question Types</li><ul><li><a href="jump://Multiple choice 1">Multiple Choice</a></li><li><a href="jump://Multiple Choice Set 1">Multiple Choice Set</a></li><li><a href="jump://Matching Pairs 1">Matching Pairs</a></li><li><a href="jump://Check Boxes 1" class="visited">Check Boxes</a></li><li><a href="jump://Radio Buttons 1">Radio Buttons</a></li></ul><li>Innovative Question Types</li><ul><li><a href="jump://Drag into Order 1">Drag into Order</a></li><li><a href="jump://Drag into Category 1">Drag into Category</a></li><li><a href="jump://Sliders 1">Sliders</a></li></ul><li>Free Text Question Types</li><ul><li><a href="jump://Essay 1">Essay</a></li><li><a href="jump://Short answer 1">Short answer</a></li><li><a href="jump://Text Select 1">Text Select</a></li></ul></ul><li>Multimedia</li><ul><li><a href="jump://Book 1">Images</a></li><li><a href="jump://Click on Image 1">Click on Image</a></li><li><a href="jump://Picture and Sound 1">Sound</a></li><li><a href="jump://Video Page 1">Video</a></li><li><a href="jump://Slideshow 1">Slideshow</a></li></ul><li><a href="jump://Menu Construction 1">Menu Construction</a></li><li><a href="jump://Branch Introduction">Branching Demonstration</a></li><li><a href="jump://Index">Index of Page Types</a></li><li><a href="jump://Lesson Completed">Complete the lesson</a></li></ul></div></div>
*```
*New Design
*@demo docs/demos/menus/navtree/navtree.html
**/

@import "variables.less";
@import "body.less";

@TreeIndent: 90%;
@TreeSubIndent: 23px !important;

.toc-view {
  display: inline-block;
  border-right: 1px solid @Grey;
  width: 35%;
  padding-right: 0;
}

.toc-view-close {
  width: 0px;
  .toc-transition(@TocTrans);
}

.lesson-view {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  width: 57%;
}

.CLAccordion {
  border-right: 1px solid @Grey;
}

.CLAccordion h2{
  padding-left: 15px;
}

.CLAccordion li a {
  font-size: 18px;
  padding: 10px;
  color: @BlueSelected;
  font-weight: 400;
  border-bottom: 1px solid @Grey;
  margin-top: 0px !important;
  &:hover {
    color: @CLThemeColor !important;
    background: darken(@Grey, 5%) !important;
  }
  &:active,
  &:focus {
    color: @White !important;
    background: @CLThemeColor !important;
  }
}

.nav-toggle {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

li .nav-toggle a {
  display: inline-block;
  width: 100%;
  text-decoration: none !important;
  margin-top: -2px;
}

li .nav-toggle-no-sub {
  width: 100%;
  margin-top: 0px !important;
}

li .nav-toggle-no-sub a {
  display: inline-block;
  width: 100%;
  border-bottom: none;
  margin-bottom: -4px;
  &:hover {
    color: @CLThemeColor !important;
    background: @Grey !important;
  }
  &:active,
  &:focus {
    color: @White !important;
    background: @CLThemeColor !important;
    width: 100%;
  }
}

p.toc-title {
  font-family:@CLFontFamily;
  display: inline-block;
  line-height: 1.25;
  width: @TreeIndent;
  float: right;
  padding-left: 4px;
  &:hover {
    text-decoration: underline;
  }
}

.nav-list li a {
  &:hover {
    text-decoration: underline;
  }
}
.toc-visited {
  color: @DarkBlue !important;
  background-color: lighten(@Grey, 3%);
}

@LevelIndent: 35px;

.level-1-header {
  border-top: 1px solid @Grey;
}

.level-2-indent {
  padding-left:@TreeSubIndent * 2 !important;
}

.level-2-header {
  padding-left: @LevelIndent !important;
}

.level-3-indent {
  padding-left:@TreeSubIndent * 3 !important;
}

.level-3-header {
  padding-left: @LevelIndent + 25 !important;
}

.level-4-indent {
  padding-left:@TreeSubIndent * 4 !important;
}

.level-4-header {
  padding-left: @LevelIndent + (25*2) !important;
}

.level-5-indent {
  padding-left:@TreeSubIndent * 5 !important;
}

.level-5-header {
  padding-left: @LevelIndent + (25*3) !important;
}

.level-6-indent {
  padding-left:@TreeSubIndent * 6 !important;
}

.level-6-header {
  padding-left: @LevelIndent + (25*4) !important;
}

.level-7-indent {
  padding-left:@TreeSubIndent * 7 !important;
}

.level-7-header {
  padding-left: @LevelIndent + (25*5) !important;
}

.level-8-indent {
  padding-left:@TreeSubIndent * 8 !important;
}

.level-8-header {
  padding-left: @LevelIndent + (25*6) !important;
}

@media (max-width:786px) {
  input.CL-hamburger[type=checkbox] {
    margin-right: 15px;
  }
  p.toc-title {
    width: 95%;
  }
  .toc-view {
    width: 100% !important;
  }
  .lesson-view {
    float: left;
    width: 100% !important;
  }
  .lesson-view h2 {
    //padding-left: 15px;
  }
  li .nav-toggle-no-sub a {
    border-bottom: 1px solid darken(@Grey, 5%);
    .toc-shadow(@BottomShadow);
  }
}

@media (max-width:479px) {
  p.toc-title {
    width: 92%;
  }
}